
<!--
<header class="viewheader">
    <a class="left" @click="${()=>window.location.hash='finance'}"><span>‸</span><span>finance</span></a>
    <div class="middle">
        <h1>Categorize New ${_s.transactionindex+1} of ${_s.newcount}</h1>
    </div>
    <div class="right">
        <a @click="${()=>{ this.reset_transaction(); }}" style="font-size: 17px;">reset</a>
    </div>
</header>
-->

<div class="content">

    <div id="topspace">
        <input id="keycatcher" type="email" spellcheck="false" inputmode="email"></input>
        <div id="keycatcher_instructions">
			<span>
				${_s.instructions === "category" ? html`
					<i class="icon-list" style="font-size: 15px;position: relative;top: 4px;"></i>
				` : ''}
				${_s.instructions === "note" ? html`
					<i class="icon-edit2" style="font-size: 16px;position: relative;top: 3px;"></i>
				` : ''}
				${_s.instructions === "amount" ? html`
					<span style="position: relative;font-weight: bold;top: 4px;">$</span>
				` : ''}
				${_s.instructions === "tags" ? html`
					<span style="position: relative;font-weight: bold;top: 4px;">#</span>
				` : ''}
			</span>
        </div>
		<div id="topspace_side_info" class="${_s.instructions !== 'note' ? 'active' : ''}">
			<div id="transaction_date">${(new Date(_s.rawtransactions[0].ts*1000)).toLocaleDateString("en-US", {month: '2-digit', day: '2-digit'}).slice(0,5).replace("/","-")}</div>
			<div id="transaction_amount">${_s.rawtransactions[0].amount.toFixed(2)}</div>
			<div id="transaction_source">${(_sources.find(s=> s.id === _s.rawtransactions[0].source_id)).name}</div>
		</div>
    </div>

    <div id="rawtransaction">
		<div class="a_transaction active">
			<div class="primary">
				<div class="anitem oftotal">${_s.transactionindex+1} of ${_s.newcount}</div>
				<div class="anitem longdesc">&nbsp;- ${_s.rawtransactions[0].merchant}</div>
				<div class="anitem cat">
					${ (!_s.rawtransactions[0].cat_name && _s.rawtransactions[0].preset_area_id) ? (_areas.find(a=>a.id === _s.rawtransactions[0].preset_area_id).name + '::' + _s.rawtransactions[0].preset_cat_name) : ''}
					${ _s.rawtransactions[0].cat_name } 
				</div>
			</div>

			<div class="secondary">
				<div class="anitem note">
					${_s.rawtransactions[0].tag_names.map(tn=> '#' + tn + ' ')} 
					${_s.rawtransactions[0].notes || '...'} 
			</div>
		</div>
    </div>

    <div id="cats">
        ${_cats.map(cat=>html`
            <div class="catparent">
                <h4>${cat.name}</h4>
                <div class="subcats">
                    ${cat.subs.map(subcat=>html`
                        <h6 @click="${(e)=>this.setcat_from_click(e)}" data-id="${subcat.id}">${subcat.name}</h6>
                    `)}
                </div>
            </div>
        `)}
    </div>

	<div id="tags" class="${_s.keyinput_mode === 1 ? 'active' : ''}">
        ${_tags.map(tag=>html`
            <h6 @click="${(e)=>this.settag_from_click(e)}" data-id="${tag.id}">${tag.name}</h6>
        `)}
    </div>

    <!--
    <div class="keyinput_indicator active">
        ${_s.keyinput_mode == 0 ? html`
            <span>type a category</span>
        ` : ''}
        ${_s.keyinput_mode == 1 ? html`
            <span>type a note</span>
        ` : ''}
        ${_s.keyinput_mode == 2 ? html`
            <span>split amount up to ${_s.splittotal.toFixed(2)}</span>
        ` : ''}
    </div>
    -->

    <footer id="pagefooter">
        <a class="syncgetter" @click="${()=> window.location.reload()}">sync latest</a>
    </footer>

</div>

