
#keycatcher_w {
    box-sizing: border-box;
    

    & >
    input#keycatcher {
        width: 60px;
    box-sizing: border-box;
    font-size: 14px;
    color: #6b6b6b;
    padding: 5px 2px 5px 7px;
    border-color: #d9d9d9;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    }
;
    position: absolute;
    top: 67px;
    right: 10px;
}

#rawtransaction {

    & > .a_transaction {
        padding: 7px 10px;
        

        & .primary {
        display: flex;
        flex-wrap: wrap;
        justify-content: ;
        padding-bottom: 7px;

            & .ofnumber {
        padding-right: 8px;
            }

            & .date {
        padding-right: 8px;
            }
            & .longdesc {
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
            }
            & .amount {
        width: 18%;
        text-align: right;
            }
            & .amount:
        before {
                content: "$";
            }
        }

        & .secondary {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

            & .cat {
        width: 24%;
        text-align: left;
        /* border: 1px solid #ffffffad; */
        /* padding: 1px 7px 3px 7px; */
        /* border-radius: 6px; */
        }
            & .source {
        width: 18%;
        text-align: center;
        /* border: 1px solid #ffffffb3; */
        /* padding: 1px 7px 3px 7px; */
        /* border-radius: 6px; */
        }
        }

        & .tertiary {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

            & .note {
        width: 100%;
            }
        }
    ;
        margin-bottom: 10px;
    }
    & > .a_transaction.active {
        background-color: #00accf;

        & .anitem {
            color: white;
        }
    }
}

#cats {
    padding: 0 0 0 10px;

    & .catparent {
        display: block;
        padding-bottom: 10px;

        & h4 {
            font-size: 14px;
            padding-bottom: 4px;
            padding-left: 1px;
            font-weight: 600;
        }

        & .subcats {
            flex-wrap: wrap;
            display: flex;

            & h6 {
                height: 20px;
                padding-top: 3px;
                padding-left: 6px;
                padding-right: 6px;
                padding-bottom: 2px;
                font-weight: 400;
                color: white;
                width: 75px;
                overflow: hidden;
                font-size: 14px;
                background: #00c9ba;
                margin-right: 5px;
                margin-bottom: 5px;
                border-radius: 6px;

                & > .cathighlight {
                display: inline-block;
                height: 100%;
                background-color: #05accf;
                color: white;
                font-weight: 500;
                }
            }
            h6.hidden {
                display: none;
            }
        }
    }
    & .catparent.hidden {
        display: none;
    }
}

.keyinput_indicator {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    box-sizing: border-box;
    padding: 6px 8px 0px 12px;
    border-radius: 6px;
    background-color: rgb(237, 237, 237);

    & > span {
        font-size: 13px;
    }
}
.keyinput_indicator.active {
    display: block;
}




input#merchantedit {
    padding-bottom: 30px;
}




