
<div class="content">

    <div id="toparea">

		<div class="toparea_row_a">

			<div id="wrap-date" class="editwrap">
				<input id="input-date" type="text" placeholder="date" disabled="true"
					   class="editprop ${_s.inputmode === 'date' ? 'highlight' : ''}"
					   @keyup="${(e)=>this.handle_input_keyup(e, 'date')}"
					   .value="${_s.infocus.date ? new Date(_s.infocus.date * 1000).toLocaleDateString('en-US', {month: '2-digit', day: '2-digit'}) : '--/--'}">
			</div>

			<div id="wrap-merchant" class="editwrap">
				<input id="input-merchant" type="text" placeholder="merchant"
					   class="editprop ${_s.inputmode === 'merchant' ? 'highlight' : ''}"
					   @keyup="${(e)=>this.handle_input_keyup(e, 'merchant')}"
					   .value="${_s.infocus.merchant || '--'}"
					   tabindex="5">
			</div>

			<div id="wrap-amount" class="editwrap">
				<input id="input-amount" type="number" placeholder="amount"
					   class="editprop ${_s.inputmode === 'amount' ? 'highlight' : ''}"
					   @keyup="${(e)=>this.handle_input_keyup(e, 'amount')}"
					   .value="${_s.infocus.amount || 0}"
					   tabindex="4">
			</div>
		</div>


		<div class="toparea_row_b">

			<div id="wrap-tag" class="editwrap">
				<input id="input-tag" type="text" placeholder="tag"
					   class="editprop ${_s.inputmode === 'tag' ? 'highlight' : ''}"
					   @keyup="${(e)=>this.handle_input_keyup(e, 'tag')}"
						.value="${_s.infocus.tags && _s.infocus.tags.length > 0 ? _s.infocus.tags[0]?.name ?? '' : ''}"
					   tabindex="3">
			</div>


			<div id="wrap-note" class="editwrap">
				<input id="input-note" type="text" placeholder="note"
					   class="editprop ${_s.inputmode === 'note' ? 'highlight' : ''}"
					   @keyup="${(e)=>this.handle_input_keyup(e, 'note')}"
					   .value="${_s.infocus.notes || ''}"
					   tabindex="2">
			</div>


			<div id="wrap-source" class="editwrap">
				<div id="showsource">${_s.infocus.source?.name ?? 'source'}</div>
			</div>
		</div>


		<div class="toparea_row_c">
			<div id="wrap-split" class="editwrap">
				<div id="split" @click="${()=>this.addsplit()}">${_s.activetransactions.length>1 ? (_s.infocusindex+1) + ' of ' + (Number(_s.activetransactions.length)) : 'add split'}</div>
				<!--
				<input id="input-split" type="text" placeholder="split"
					   class="editprop ${_s.inputmode === 'split' ? 'highlight' : ''}"
					   @keyup="${(e)=>this.handle_input_keyup(e, 'split')}"
					   .value=""
					   tabindex="3">
				-->
			</div>

			<div id="wrap-cat" class="editwrap">
				<input id="input-cat" type="text" placeholder="category"
					   class="editprop ${_s.inputmode === 'cat' ? 'highlight' : ''}"
					   @keyup="${(e)=>this.handle_input_keyup(e, 'cat')}"
					   .value="${_s.infocus.catref?.name ?? ''}"
					   tabindex="1">
			</div>

			<div id="wrap-ofcount" class="editwrap">
				<div id="ofcount">${_m.newtransactions.findIndex(nt=> nt.ynab_id === _s.infocus?.ynab_id) + 1 || 1} of ${_s.newcount}</div>
			</div>
		</div>

	</div>

	<div id="splittotal">${_s.original_amount ? _s.activetransactions.reduce((acc, tr) => acc + tr.amount, 0) + ' of ' + _s.original_amount : ''}</div>

	<div id="actionbtns">
		<c-btn @btnclick="${(e)=>this.skip(e)}" class="actionbtn">Skip</c-btn>
		<c-btn @btnclick="${(e)=>this.delete(e)}" class="actionbtn">Delete</c-btn>
	</div>

	<div id="fullmerchant">${_s.infocus.merchant || '--'}</div>

	<!--
    <div id="rawtransaction">
		<div class="a_transaction active">
			<div class="primary">
				<div class="anitem oftotal">${_m.newtransactions.findIndex(nt=> nt.ynab_id === _s.activetransaction?.ynab_id) + 1 || 1} of ${_s.newcount}</div>
				<div class="anitem longdesc">&nbsp;- ${_s.activetransaction?.merchant}</div>
				<div class="anitem cat">
					${ _s.activetransaction?.cat?.name ?? '' } 
				</div>
			</div>

			<div class="secondary">
				<div class="anitem note">
					${_s.activetransaction?.tags?.map(tn=> '#' + tn.name + ' ') || ''} 
					${_s.activetransaction?.notes || '...'} 
				</div>
			</div>
		</div>
    </div>
	-->


	<div id="cats" class="${_s.inputmode === 'cat' ? 'active' : ''}">
        ${_s.filteredcats?.map(cat=>html`
            <div class="catparent">
                <h4>${cat.name}</h4>
                <div class="subcats">
                    ${cat.subsref?.map(subcat=>html`
					<h6 @click="${(e)=>this.setcat_from_click(e)}" data-id="${subcat.id}" class="${subcat.id === _s.highlightcat?.id ? 'highlight' : ''}">${subcat.name}</h6>
                    `)}
                </div>
            </div>
        `)}
    </div>


	<div id="tags" class="${_s.inputmode === 'tag' ? 'active' : ''}">
		<div class="alltags">
			${_s.filteredtags?.map(tag=>html`
				<h6 @click="${(e)=>this.settag_from_click(e)}" data-id="${tag.id}" class="${tag.id === _s.highlighttag?.id ? 'highlight' : ''}">${tag.name}</h6>
			`)}
		</div>
    </div>

    <!--
    <div class="keyinput_indicator active">
        ${_s.keyinput_mode == 0 ? html`
            <span>type a category</span>
        ` : ''}
        ${_s.keyinput_mode == 1 ? html`
            <span>type a note</span>
        ` : ''}
        ${_s.keyinput_mode == 2 ? html`
            <span>split amount up to ${_s.splittotal.toFixed(2)}</span>
        ` : ''}
    </div>
    -->

    <footer id="pagefooter">
        <a class="syncgetter" @click="${()=> window.location.reload()}">sync latest</a>
		&nbsp; | &nbsp;
        <a class="addnew" @click="${()=> this.addnew()}">add new</a>
    </footer>

</div>

