
<!--
<header class="viewheader">
    <a class="left" @click="${()=>window.location.hash='finance'}"><span>‸</span><span>finance</span></a>
    <div class="middle">
        <h1>Categorize New ${_s.transactionindex+1} of ${_s.newcount}</h1>
    </div>
    <div class="right">
        <a @click="${()=>{ this.reset_transaction(); }}" style="font-size: 17px;">reset</a>
    </div>
</header>
-->

<div class="content">

    <div id="keycatcher_w">
        <input id="keycatcher" type="email" spellcheck="false" inputmode="email"></input>
        <div id="keycatcher_instructions">
            <span>${_s.instructions}</span>
        </div>
    </div>

    <div id="rawtransaction">
        ${_s.rawtransactions.map((rawtransaction,i)=>Lit_Html`
            <div class="a_transaction ${i === _s.focusedindex ? 'active' : ''}">
                <div class="primary">
                    <div class="anitem ofnumber">${_s.transactionindex+1} of ${_s.newcount}</div>
                    <div class="anitem date">${(new Date(rawtransaction.ts*1000)).toLocaleDateString().slice(0,4)}</div>
                    <div class="anitem longdesc">${rawtransaction.merchant}</div>
                    <div class="anitem amount">${rawtransaction.amount.toFixed(2)}</div>
                </div>

                <div class="secondary">
                <div class="anitem cat">${ rawtransaction.cat_name || '...'} &nbsp; </div>
                    <div class="anitem source">${(_sources.find(s=> s.id === rawtransaction.source_id)).name}</div>
                </div>

                <div class="tertiary"> 
                    <div class="anitem note">${rawtransaction.tag_names.map(tn=> '#' + tn + ' ')} ${rawtransaction.notes} ${ rawtransaction.preset_area_id ? _areas.find(a=>a.id === rawtransaction.preset_area_id).name : ''}::${ rawtransaction.preset_cat_name || ''}</div>
                </div>
            </div>
        `)}
    </div>

    <div id="cats">
        ${_cats.map(cat=>Lit_Html`
            <div class="catparent">
                <h4>${cat.name}</h4>
                <div class="subcats">
                    ${cat.subs.map(subcat=>Lit_Html`
                        <h6 @click="${(e)=>this.setcat_from_click(e)}" data-id="${subcat.id}">${subcat.name}</h6>
                    `)}
                </div>
            </div>
        `)}
    </div>

	<div id="tags" class="${_s.keyinput_mode === 1 ? 'active' : ''}">
        ${_tags.map(tag=>Lit_Html`
            <h6 @click="${(e)=>this.settag_from_click(e)}" data-id="${tag.id}">${tag.name}</h6>
        `)}
    </div>

    <!--
    <div class="keyinput_indicator active">
        ${_s.keyinput_mode == 0 ? Lit_Html`
            <span>type a category</span>
        ` : ''}
        ${_s.keyinput_mode == 1 ? Lit_Html`
            <span>type a note</span>
        ` : ''}
        ${_s.keyinput_mode == 2 ? Lit_Html`
            <span>split amount up to ${_s.splittotal.toFixed(2)}</span>
        ` : ''}
    </div>
    -->

    <footer id="pagefooter">
        <a class="syncgetter" @click="${()=> window.location.reload()}">sync latest</a>
    </footer>

</div>

