




<!-- FEATURES

- Category Tags. Quadrant 1, 2, 3 are Fixed Bills, Fluxuating Neccessities, and Comforts. Fourth Quadrant is for wants that make a desirable life. What we get to spend after      1,2,3 are covered.
- Custom Category Tags. Number starts at 10 and up
- Category popup. List that area's cats. 
- Category popup button to sync cats with YNAB. Each cat sub can have #1,11 etc etc for cat tags. Auto gets parsed to firestore

- CalcCat - Avg and Medians for each month for each cat
- CalcCat - Can expand to show any number of months previous
- CalcCat - Clicking on a cat filters transactions, etc to just that cat

- Areas - Can quickly jump to each area

- Transactions - Clicking on a transaction shows details popup
- Transactions - Clicking on a column header sorts by that column

- Reset - Keeps current area. Resets all other filters

- Keyboard Shortcuts
   - R -- Reset
   - S -- Sync Transactions from YNAB
   - A -- Switch area. Followed by number for specific area

-->


<div class="wrapper touchroot">

	<header class="viewheader" style="display:none;">
		<a class="left"><span>‸</span><span></span></a>
		<div class="middle">
			<h1>Ya</h1>
		</div>
		<div class="right">
		</div>
	</header>

    <div id="calc_transactions_wrapper">

		<div id="calcs" class="split_${_s.split_mode}">
            <div class="calcs-grid">
                <!-- Header -->
                <div class="grid-header">
                    <div class="grid-row header-row">
                        <div class="col-cat">
                            <a class="${_s.filter.cattags[0] === 1 && !_s.filter.cattags[1] ? 'active' : ''}" @click="${()=>this.filter_by_cattag([1])}" data-cattags='1'>&nbsp;1&nbsp;</a>
                            <a class="${_s.filter.cattags[0] === 2 && !_s.filter.cattags[1] ? 'active' : ''}" @click="${()=>this.filter_by_cattag([2])}" data-cattags='2'>&nbsp;2&nbsp;</a>
                            <a class="${_s.filter.cattags[0] === 3 && !_s.filter.cattags[1] ? 'active' : ''}" @click="${()=>this.filter_by_cattag([3])}" data-cattags='3'>&nbsp;3&nbsp;</a>
                        </div>


                        ${_s.months_display_str.map((m,i) => html`
							<div class="col-month ${i === _s.months_display_str.length-1 ? 'col-current' : ''}" @click="${(e)=>this.calcmonth_clicked(e)}" data-month_i="${i}">${_s.months_display_str[i]}</div>
                        `)}

                        <div class="col-avgmed" @click="${()=>this.avgormed_clicked()}">${_s.prefs.avgormed === 1 ? 'Avg' : 'Med'}</div>

						<div class="col_goal_n_costs">GC</div>
                    </div>
                </div>

                <!-- Content -->
                <div class="grid-content">
                    ${_m.catcalcs.map((c,i) => html`
                        <!-- Parent cat row -->
                        <div class="grid-row cat-row parent-cat">
                            <div class="col-cat touch_catquad">${c.catref.name}</div>

                            ${_s.months.map((m,mi) => html`
                                <!-- <div class="col-month touch_month ${mi === _s.months.length-1 ? 'col-current' : ''}" @click="${(e)=>this.calcamount__clicked(e)}" data-i="${i}">${Math.round(c.sums[mi])}</div> -->
                                <div class="col-month touch_month ${mi === _s.months.length-1 ? 'col-current' : ''}" data-i="${i}">--</div>
                            `)}

                            <!-- <div class="col-avgmed touch_avgmed">${Math.round(c.avg)}</div> -->
                            <div class="col-avgmed touch_avgmed">--</div>

							<!-- <div class="col_${c.goal ? 'goal' : ( c.costs ? 'costs' : 'no_goal_or_costs' )}">${c.goal ? c.goal : ( c.costs ? c.costs : '' )}</div> -->
							<div class="col_goal_n_costs"></div>
                        </div>

                        <!-- Sub cat rows -->
                        ${c.subsref.map((cs,ii) => html`
                            <div class="grid-row cat-row sub-cat ${ii === c.subsref.length-1 ? 'last-subcat' : ''}" data-catcalc_index="${i}" data-catcalc_sub_index="${ii}">
                                <div class="col-cat touch_catquad sub" @click="${(e)=>this.calccatname_clicked(e)}" data-i="${i}" data-ii="${ii}">${cs.catref.name}</div>

                                ${_s.months.map((m,mi) => html`
									<div class="col-month touch_month ${mi === _s.months.length-1 ? 'col-current' : ''}" @click="${(e)=>this.calcamount__clicked(e)}" data-mi="${mi}" data-i="${i}" data-ii="${ii}">
										${mi === _s.months.length-1 && cs.catref.goal ? html`<span class="goal_bar" style="width:${cs.sums[mi]/cs.catref.goal*100}%;">&nbsp;</span>` : ''}
										<!-- <span class="num">${Math.round(cs.sums[mi])}</span> -->
										<span class="num">${Math.round(cs.sums[mi])}</span>
									</div>
                                `)}


                                <div class="col-avgmed touch_avgmed">${Math.floor((_s.prefs.avgormed === 1 ? cs.avg : cs.med))}</div>

								<div class="col_goal_n_costs col_${cs.catref.costs_total ? 'costs' : (cs.catref.goal ? 'goal' : 'none')}">${cs.catref.costs_total || cs.catref.goal || ''}</div>
                            </div>
                        `)}
                    `)}
                </div>

				<div class="grid-content-spacer">
                    ${_m.catcalcs.map((c,i) => html`
                        <div class="grid-row cat-row parent-cat">
                            <div class="col-cat touch_catquad">&nbsp;</div>

                            ${_s.months.map((m,mi) => html`
                                <div class="col-month touch_month ${mi === _s.months.length-1 ? 'col-current' : ''}">&nbsp;</div>
                            `)}

                            <div class="col-avgmed touch_avgmed">&nbsp;</div>
							<div class="col_goal_n_costs"></div>
                        </div>
                    `)}
				</div>

                <!-- Footer -->
                <div class="grid-footer">
                    <div class="grid-row totals-row">
                        <div class="col-cat">
							Totals ${_s.filter.cattags[0]}
						</div>

                        ${_s.months.map((m,i) => html`
                            <div class="col-month ${i === _s.months.length-1 ? 'col-current' : ''}">${Math.round(_m.catcalcstotals.sums[i])}</div>
                        `)}

                        <div class="col-avgmed">${Math.round(_s.prefs.avgormed === 1 ? _m.catcalcstotals.avg : _m.catcalcstotals.med)}</div>
						<div class="col_allotment">
							${Math.round(_m.catcalcstotals.allotment) }
						</div>
                    </div>
                    <div class="grid-row totals-row">
                        <div class="col-cat">
							Totals 1 2
						</div>


                        ${_s.months.map((m,i) => html`
                            <div class="col-month ${i === _s.months.length-1 ? 'col-current' : ''}">${Math.round(_m.catcalcstotals1_2.sums[i])}</div>
                        `)}

                        <div class="col-avgmed">${Math.round(_s.prefs.avgormed === 1 ? _m.catcalcstotals1_2.avg : _m.catcalcstotals1_2.med)}</div>
						<div class="col_allotment">
							${Math.round(_m.catcalcstotals1_2.allotment) }
						</div>
                    </div>
                    <div class="grid-row totals-row">
                        <div class="col-cat">
							Totals 1 2 3
						</div>

                        ${_s.months.map((m,i) => html`
                            <div class="col-month ${i === _s.months.length-1 ? 'col-current' : ''}">${Math.round(_m.catcalcstotals1_2_3.sums[i])}</div>
                        `)}

                        <div class="col-avgmed">${Math.round(_s.prefs.avgormed === 1 ? _m.catcalcstotals1_2_3.avg : _m.catcalcstotals1_2_3.med)}</div>
						<div class="col_allotment">${Math.round(_m.catcalcstotals1_2_3.allotment)}</div>
                    </div>
                </div>
            </div>
        </div>



        <div id="transactions" class="split_${_s.split_mode}">
            <div id="tablewrap">
                <table>
                    <thead>
                        <tr>
                            <th class="date" @click="${()=>this.sort_transactions_by('date', 'asc')}">date</th>
                            <th class="merchant" @click="${()=>this.sort_transactions_by('merchant', 'asc')}">merchant</i></th>
                            <th class="category" @click="${()=>this.sort_transactions_by('cat', 'asc')}">category</th>
                            <th class="amount" @click="${()=>this.sort_transactions_by('amount', 'asc')}">$</th>
                            <th class="notes" @click="${()=>this.sort_transactions_by('notes', 'asc')}">notes &nbsp;  
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                    ${_m.current_month_transactions.map((t,i) => html`
                        <tr>
                            <td data-id="${t.id}" @click="${(e)=>this.transactionrow_clicked(e)}" class="date">${(new Date(t.date*1000)).toLocaleDateString("en-US", {month: '2-digit', day: '2-digit'}).slice(0,5).replace("/","-")}</td>
                            <td class="merchant">${t.merchant.toLowerCase().slice(0,18)}</td>
                            <td class="category">${t.catref.name.slice(0,9)}</td>
                            <td class="amount">${Math.round(t.amount)}</td>
                            <td class="notes">${t.tagsref.map(tg=>html`<span class='tag' @click="${(e)=>this.transaction_tag_clicked(e)}" data-id="${tg.id}">#${tg.name} </span>`)} ${t.notes}</td>
                        </tr>
                    `)}
                    </tbody>
                </table>
				<br><br>
            </div>
        </div>

    </div>




    <footer class="touch_switch_calcs_transactions">
		${localStorage.getItem("user_email") === "rfs@risingtiger.com" ? html`
		<div id="footactions">
			<a @click="${()=>{this.reset()}}">&nbsp;R&nbsp;</a>
			&nbsp;
			<a @click="${()=>{this.toggle_show_tags()}}">&nbsp;T&nbsp;</a>
			&nbsp;
			<a @click="${()=>{this.s.paymentsview.show_ui = this.s.paymentsview.show_ui === 1 ? 2 : 1; this.render()}}">&nbsp;P&nbsp;</a>
			&nbsp;
			<a @click="${()=>{this.s.catsview.show_ui=1;this.render();}}">&nbsp;C&nbsp;</a>
			&nbsp;
			<a @click="${()=>{this.s.sourcesview.show_ui=1;this.render();}}">&nbsp;S&nbsp;</a>
			&nbsp;
			<a @click="${()=>{this.show_balances()}}">&nbsp;B&nbsp;</a>
			&nbsp;
			<a @click="${()=>{this.set_split_mode(true); this.render();}}">&nbsp;V&nbsp;</a>
			&nbsp;
			<a @click="${()=>{this.set_calcs_month_columns_count(3)}}">&nbsp;MS&nbsp;</a>
			&nbsp;
			<a @click="${()=>{this.set_calcs_month_columns_count(12)}}">&nbsp;ML&nbsp;</a>
			&nbsp;
			<a @click="${()=>{this.download_csv();}}">&nbsp;D&nbsp;</a>
			&nbsp;
			<a @click="${()=>{this.download_transactions_to_csv();}}">&nbsp;DD&nbsp;</a>
			&nbsp;
			<a class="allotments_left">${Math.round(_s.allotment_left)} -- ${Math.round(_s.allotment_left1_2)}</a>
		</div>
		` : '' }

		<div id="totalies">
		</div>

        <div id="snapshot">
            <div class="snapshotrow">
			</div>
        </div>

    </footer>



</div>




${ _s.balancesview.show_ui !== 0 ? html`
	<c-ol2 title="Balances" ?close="${this.s.balancesview.show_ui === 2}" @close="${()=> { this.s.balancesview.show_ui = 0; this.render(); } }">
		<vp-financebalances 
			area_id="${_s.filter.arearef.id}"
			burnrateleft="${this.s.burnamountleft}">
		</vp-financebalances>
	</c-ol2>
` : '' }

${ _s.editview.show_ui !== 0 ? html`
	<c-ol2 title="Transaction Details" actionterm="save" @close="${()=> { this.s.editview.show_ui = 0; this.render(); } }">
		<vp-financeedittransaction transaction="${_s.editview.transaction_id}"></vp-financeedittransaction>
	</c-ol2>
` : '' }


${ _s.catsview.show_ui !== 0 ? html`
	<c-ol2 title="${_s.filter.arearef.longname} Cats" ?close="${this.s.catsview.show_ui === 2}" @close="${()=> { this.s.catsview.show_ui = 0; this.render(); } }">
		<vp-financecats area_id="${_s.filter.arearef.id}" mode="${_s.catsview.mode}"  editing_cat_id="${_s.catsview.editing_cat_id}"></vp-financecats>
	</c-ol2>
` : ''}

${ _s.sourcesview.show_ui !== 0 ? html`
	<c-ol2 title="Sources" ?close="${this.s.sourcesview.show_ui === 2}" @close="${()=> { this.s.sourcesview.show_ui = 0; this.render(); } }">
		<vp-financesources></vp-financesources>
	</c-ol2>
` : ''}

${ _s.paymentsview.show_ui !== 0 ? html`
	<c-ol2 title="Payments" ?close="${this.s.paymentsview.show_ui === 2}" @close="${()=> { this.s.paymentsview.show_ui = 0; this.render(); } }">
		<vp-financepayments></vp-financepayments>
	</c-ol2>
` : ''}

${ _s.tagsview.show_ui !== 0 ? html`
	<c-ol2 title="Tags"  ?close="${this.s.tagsview.show_ui === 2}" @close="${()=> { this.s.tagsview.show_ui = 0; this.render(); } }">

		<div id="tagsview">

			<ul class="items">
				${_s.tagsview.tagtotals.map(t=>html`
				<li @click="${(e)=>{this.tagsview_tag_clicked(e)}}" data-id="${t.id}">
						<h5>${t.name}</h5>
						<p>
							<span>${Math.round(t.total)}</span>
						</p>
					</li>
				`)}
			</ul>

		</div>

	</c-ol2>
` : ''}








