
div.content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#calcs, #transactions {

    & table {
        border-collapse: collapse;
        position: relative;
        width: 100%;
    }

    & td, th {
        border: 0;
        padding: 3px 4px;
    }

    & th {
        position: sticky;
        top: 0;
        background-color: white;
        text-align: left;
        border-bottom: 5px solid #9bdfee;
    }
}

#calcs {
    flex: 22;

    & th.monthname {
        width: 42px;
        max-width: 42px;
    }

    & th.bucket, & th.budget {
        width: 47px;
        max-width: 47px;
    }

    & th.cat, & td.cat {
        padding-left: 10px;
    }

    & th.current, & td.current  {
        background-color: #e5fff4;
    }

    & th.bucket, & td.bucket {
        background-color: #abf1ff;
    }

    & th.budget, & td.budget {
        background-color: #caf6ff;
    }

    & tr.topcatrow td {
        font-weight: bold;
    }

    & tr.subcatrow td {
        font-weight: normal;
    }


    & td.bucket {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        transition-duration: 0.7s;
        transition-property: background-color, color;
    }

    & td.bucket.transfer_state_1 {
        background-color: #00a3c3;
        color: white;
    }
    & td.bucket.transfer_state_2 {
        background-color: #00a3c3;
        color: white;
    }

    & tr.lastsubcat td {
        padding-bottom: 17px;
    }
}


#transactions {
    flex: 33;

    & table {
        border-collapse: collapse;
        width: 100%;
    }
}


#transactiondetails {
    padding: 0;

    &
    h4 {
        margin: 0;
        padding: 10px 0 0 12px;
        font-size: 17px;
    }

    &
    ul.items {
        padding: 0;

        &
    li {
            padding: 0;
    margin: 0;
        }
    }
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #d0d0d0;
    font-size: 12px;
    color: #666;
    height: 30px;
}




@media only screen and (max-device-width: 767px) {

    #calcs {
        width: 100%;
    }
    
    #transactions {
        display: none;
    }
}




@media only screen and (min-device-width: 768px) {

}
