



div.content {
    width: 100%;
    height: 100%;
}

#calc_transactions_wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#calcs, #transactions {

    & table {
        border-collapse: collapse;
        position: relative;
        width: 100%;
    }

    & td {
        border: 0;
        padding: 3px 4px;
    }

    & thead th {
        background-color: white;
        text-align: left;
        padding-bottom: 4px;
        padding-top: 3px;
        border: 0;
        box-shadow: inset 0 -5px 0px 0px rgb(134 220 239);
    }

    & tfoot th {
        background-color: white;
        text-align: left;
        padding-top: 9px;
        padding-bottom: 7px;
        box-shadow: inset 0 5px 0px 0px rgb(134 220 239);
    }
}


#calcs {
    flex: 22;

    & #tablewrap {
        overflow-y: scroll;
        height: 86%;
    }

    & table thead, & table tfoot {
        z-index: 1;
        position: sticky;
    }
    & table thead {
        top: 0;
    }
    & table tfoot {
        bottom: 0;
    }

    & p.tempe {
        position: absolute;
        top: 100px;
        left: 200px;
        margin: 0;
        padding: 30px;
        background-color: #f0f0f0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }


    & th.monthname {
        width: 42px;
        max-width: 42px;
    }

    & th.avgmed, & th.budget {
        width: 47px;
        max-width: 47px;
    }

    & th.cat, & td.cat {
        padding-left: 10px;
    }

    & th.cat a.active {
    background: #86dcef;
    }

    & th.current, & td.current  {
        background-color: #e5fff4;
    }

    & th.avgmed, & td.avgmed {
        background-color: #abf1ff;
    }

    & th.budget, & td.budget {
        background-color: #caf6ff;
    }

    & tr.topcatrow td {
        font-weight: bold;
    }

    & tr.subcatrow td {
        font-weight: normal;
    }


    & td.avgmed {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        transition-duration: 0.7s;
        transition-property: background-color, color;
    }

    & td.avgmed.transfer_state_1 {
        background-color: #00a3c3;
        color: white;
    }
    & td.avgmed.transfer_state_2 {
        background-color: #00a3c3;
        color: white;
    }

    & tr.lastsubcat td {
        padding-bottom: 17px;
    }
}


#transactions {
    position: relative;
    flex: 33;

    & #tablewrap {
        overflow-y: scroll;
        height: 86%;
    }

    & table {
        border-collapse: collapse;
        width: 100%;
    }
    
    & td.notes {
        overflow-x: scroll;
        text-wrap: nowrap;

        & .tag {
        font-weight: bold;
        }
    }
    & td.merchant {
        overflow-x: scroll;
        text-wrap: nowrap;
    }

    & td.amount {
        min-width: 58px;
    }
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 87px;

    & #snapshot {
        background: #ececec;
        width: 100%;
        height: 100%;
        padding: var(--padding-container);

        & .snapshotrow {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 10px;

            &
            p {
                margin: 0;
            padding: 0;
            }
        }
    }
}


#transactiondetails {
    padding: 0;

    &
    h4 {
        margin: 0;
        padding: 10px 0 0 12px;
        font-size: 17px;
    }

    &
    ul.items {
        padding: 0;

        &
    li {
            padding: 0;
    margin: 0;
        }
    }
}





#paymentsview {
    padding: var(--padding-container);

    & > section {
        display: flex;
        flex-wrap: wrap;
    }

    & > hr {
        border: 1px solid #ececec;
        margin-bottom: 18px;
    }
    
    & > section.payments {

        & .payment {
            position: relative;
            margin-right: 10px;
            padding: 0;
            margin-bottom: 11px;
            border-radius: 4px;
            width: 16%;

            & .notes {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            background: white;
            }

            &
            strong {
                color: #18c3c5;
            }
            &
            strong.extra {
                color: #a61b78;
            }

            & .breakdown {
                &
                b {
                    font-weight: normal;
                    display: inline-block;
                    padding: 12px 0 0px 0;
                }
            ;
                column-count: 5;
            }
        }
        & .payment.hasbreakdown {
            width: 100%;
        }
        
    }

    & h3 {
        width: 100%;
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    & td {
        overflow-x: hidden;
    }

    & td > span {
        display: block;
        width: 188px;
        overflow-x: scroll;
        text-wrap: nowrap;
    }
}


#catsview {
    position: relative;
    padding: var(--padding-container);
    box-sizing: border-box;
    height: 90%;

    &
    h3 {
        margin: 0 0 var(--padding-section-vert) 0;
    padding: 3px 0 5px 0;
    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    }

    & .parent {
    padding: 0px 0 var(--padding-section-vert) 0;

        &
    h4 {
            margin: 0;
    padding: 0 0 var(--padding-minipad) 0;

            &
    a {
                color: var(--actioncolor);
    text-decoration: none;
    display: inline-block;
            }
        }

        & .sub {
    padding: 0 0 0 0;
    display: flex;
    flex-wrap: wrap;

            &
    h6 {
                width: 110px;
    padding-bottom: 7px;
    font-weight: 400;
    box-sizing: border-box;
    background: #bde5f1;
    margin: 0 5px 5px 0;
    padding: 3px 6px 5px 7px;
    border-radius: 5px;
            }
        }
    }
;
    margin-bottom: var(--padding-section-vert);
    overflow-y: scroll;
    border-bottom: 1px solid #d8d8d8;

    & button {
        margin: 0 0 0 var(--padding-container);
    }
}





#monthsnapshotview {

    height: 100%;
    overflow-y: scroll;

    h3 {
        padding: var(--padding-container);
    }

    h6 {
        padding: var(--padding-container);
    }

    ul.items {
        padding-bottom: 10px;
    }
}




#tagsview {
    
    & h3 {
        padding: var(--padding-container);
    }
}


@media only screen and (max-device-width: 767px) {

    #calcs {
        width: 100%;
    }
    
    #transactions {
        display: none;
    }
}




@media only screen and (min-device-width: 768px) {

}





