
        
<div id="fromto" @mousedown="${(e)=>{ this.mousedowned(e); }}" @mouseup="${(e)=>{ this.mouseupped(e); }}" @mousemoved="${(e)=>{ this.mousemoved(e); }}">
    <div id="from">
        <div class="value"><span>$</span><span>89</span></div>
        <div class="label">grooming</div>
    </div>
    <div id="direction">
        <div class="rightsignify">➡</div>
    </div>
    <div id="to">
        <div class="value"><span>$</span><span>34</span></div>
        <div class="label">pets</div>
    </div>
</div>

