

<div class="definewrap">

    <dl class="define">

        <span>
            <h6>Identifiers &amp; Accounts</h6>

            <dt>Code Version</dt>
            <dd>${_mdetails.particle.codeversion}</dd>

            <dt>Chip ID</dt>
            <dd>${_mdetails.chip}</dd>

            <dt>Pwtdata ID</dt>
            <dd><a href="https://pwtdata.com/index.php?action=view&controller=clients&clientID=${_mdetails.clientid}" target="_blank">${_mdetails.clientid}</a></dd>

            <dt>Machine ID</dt>
            <dd>${_mdetails.mchId}</dd>

            <dt>Store ID</dt>
            <dd>${_mdetails.store_id}</dd>

            <dt>Store Name</dt>
            <dd>${_mdetails.store_name}</dd>

            <dt>Record ID</dt>
            <dd>${_mdetails.id}</dd>

            <dt>Particle Id</dt>
            <dd>${_mdetails.particle.id}</dd>

            <dt>Particle Serial</dt>
            <dd>${_mdetails.particle.serial}</dd>

            <dt>Particle Account</dt>
            <dd>${_mdetails.particle.account}</dd>

            <dt>Particle Product</dt>
            <dd>${_mdetails.particle.product}</dd>
        </span>

        <span>
            <h6>Current State</h6>

            <dt>Is Active</dt>
            <dd>${_mdetails.state_isactive}</dd>

            <dt>Cellular</dt>
            <dd>Strength ${_mdetails.cellsignal} -- Quality ${_mdetails.cellquality}</dd>

            <dt>Onboard GPS</dt>
            <dd>${_mdetails.gps_lat}, ${_mdetails.gps_lon}</dd>

            <dt>GPS Timestamp</dt>
            <dd>
                ${ (_mdetails.gps_lat != 'N/A' || _mdetails.gps_lon != 'N/A') ? (new Date(_mdetails.gps_ts*1000)).toLocaleDateString() + ' at ' + (new Date(_mdetails.gps_ts*1000)).toLocaleTimeString() : 'N/A' } 
            </dd>

            <dt>Status Str</dt>
            <dd>${_mdetails.state_latest}</dd>

            <dt>Dispenser Mode</dt>
            <dd>${_mdetails.dispenser_mode}</dd>

            <dt>Lora Version</dt>
            <dd>${_mdetails.dispenser_loraversion}</dd>

            <dt>Meters</dt>
            <dd>${_mdetails.meters[0]}, ${_mdetails.meters[1]}, ${_mdetails.meters[2]}, ${_mdetails.meters[3]}, ${_mdetails.meters[4]}</dd>

            <dt>Meter Increments</dt>
            <dd>${_mdetails.incrs[0]}, ${_mdetails.incrs[1]}, ${_mdetails.incrs[2]}, ${_mdetails.incrs[3]}, ${_mdetails.incrs[4]}</dd>
            
            <dt>TS</dt>
            <dd>${(new Date(_mdetails.ts*1000)).toLocaleDateString()} at ${(new Date(_mdetails.ts*1000)).toLocaleTimeString()}</dd>

            <dt>TSS</dt>
            <dd>${(new Date(_mdetails.tsS*1000)).toLocaleDateString()} at ${(new Date(_mdetails.tsS*1000)).toLocaleTimeString()}</dd>
        </span>

    </dl>

    ${_s.show_particle_more ? Lit_Html`` : Lit_Html`
    <div style="text-align: center;padding: 20px;">
        <button class="btn" @click="${()=>this.GetAndShowParticleDeviceDetails()}">VIEW MORE PARTICLE DETAILS</button>
    </div>
    `}

    ${_s.show_particle_more ? Lit_Html`
      <dl class="define">
        <span>
          <h6>Particle More Details</h6>

          <dt>Name</dt>
          <dd>${_mdetails.particle_more.name}</dd>

          <dt>Last Heard</dt>
          <dd>${ (new Date(_mdetails.particle_more.last_heard)).toLocaleDateString() + ' at ' + (new Date(_mdetails.particle_more.last_heard)).toLocaleTimeString() }</dd>

          <dt>Last Handshake At</dt>
          <dd>${ (new Date(_mdetails.particle_more.last_handshake_at)).toLocaleDateString() + ' at ' + (new Date(_mdetails.particle_more.last_handshake_at)).toLocaleTimeString() }</dd>

          <dt>Is Online</dt>
          <dd>${_mdetails.particle_more.online}</dd>

          <dt>System Firmware Version</dt>
          <dd>${_mdetails.particle_more.system_firmware_version}</dd>

          <dt>Firmware Version</dt>
          <dd>${_mdetails.particle_more.firmware_version}</dd>

        </span>
      </dl>
    ` : Lit_Html``}

    <span style="display: block;padding-left: 13px;padding-bottom: 13px;font-size: 0.9em;">*timezone: ${Intl.DateTimeFormat().resolvedOptions().timeZone}</span>

</div>



