

c-machine-details {

  & h6 {
    padding: 11px 0 20px 0;
    font-size: 18px;
  }

  & dl.define {
    column-count: 2;
    padding: 0 13px 0 13px;
  }

  & dl.define span {
    display: block;
    break-inside: avoid;
  }
  & dl.define dt {
    width: 145px;
  }

  & dl.define dd {
    break-inside: avoid;
  }

}

