


<!--<span slot="headermiddle">Location</span>-->

<iframe 
    width="100%" 
    height="80%" 
    frameborder="0" 
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCGeIYK8t4IZuhyAf7z_xsFTjGZKIHePHI&q=${_lat},${_lon}&zoom=10&maptype=roadmap"
    allowfullscreen
    style="border-bottom: 3px solid #a0a0a0;">
</iframe>

<div id="map_info">
    <div>
        ${ _s.locatedvia === "celltower" ? Lit_Html`<ion-icon name="cellular"></ion-icon> Located Via Cellular` : Lit_Html`<ion-icon name="locate"></ion-icon> Located Via GPS on ${_s.locatedtime}` }
    </div>
</div>

