
<header class="viewheader">
    <div class="left"></div>
    <div class="middle"><h1>Xen</h1></div>
    <div class="right">&nbsp;</div>
</header>

<div class="content">

	<ct-temp>Placeholder</ct-temp>
    <div id="admin">

		<div id="hldr">Placeholder</div>

        ${localStorage.getItem("auth_group") === 'admin' ? Lit_Html`
            <h5 @click="${()=>this.adminetc('firestore_misc_update')}">firestore_misc_update</h5>
        ` : ''}
        
        <div style="height: 200px; overflow-y:scroll;">
            ${Array.isArray(_s.admin_return_str) ? _s.admin_return_str.map((item, index) => Lit_Html`
                <p>${item}</p>
            `) : Lit_Html`
                <p>${_s.admin_return_str}</p>
            `}
        </div>

        <h5 @click="${()=>window.location.hash='finance'}">Finance</h5>

        ${localStorage.getItem("auth_group") === 'admin' ? Lit_Html`
            <br><br>
            <h5 @click="${()=>window.location.hash='addtr'}">AddTr</h5>
        ` : ''}

        <br><br>

        <h5 @click="${()=>window.location.hash='auth'}">Auth</h5>

		<a @click="${()=>this.ya1()}">ya1</a> &nbsp; &nbsp;
		<a @click="${()=>this.ya2()}">ya2</a> &nbsp; &nbsp;
		<a @click="${()=>this.ya3()}">ya3</a>
    </div>

</div>


