
<!-- <header class="viewheader"> -->
<!--     <div class="left"></div> -->
<!--     <div class="middle"><h1>Xen</h1></div> -->
<!--     <div class="right">&nbsp;</div> -->
<!-- </header> -->

<div class="wrapper">

	<ct-temp>Placeholder</ct-temp>
    <div id="admin">

		<div id="hldr">Placeholder</div>

        ${localStorage.getItem("user_email") === 'rfs@risingtiger.com' ? html`
            <h5 @click="${()=>this.linkplaid()}">linkplaid</h5>

            <h5 @click="${()=>this.adminetc('firestore_misc_update')}">firestore_misc_update</h5>
            <h5 @click="${()=>this.adminetc('firestore_misc_get')}">firestore_misc_get</h5>
            <h5 @click="${()=>this.adminetc('sanity_run')}">Sanity Run</h5>
        ` : ''}
        
        <div style="height: 200px; overflow-y:scroll;">
            ${Array.isArray(_s.admin_return_str) ? _s.admin_return_str.map((item, index) => html`
                <p>${item}</p>
            `) : html`
				${_s.admin_return_str.split('\n').map(str=>html`<p>${str}</p>`)}
            `}
        </div>

		<c-btn noanime='true' @btnclick="${()=>$N.SwitchStation.GoTo('finance/1234/s/quicktest/9876')}">Finance</c-btn>

		<br><br>
		<c-btn noanime='true' @click="${()=>$N.SwitchStation.GoTo('addtr')}">AddTr</c-btn>

        <br><br>


		<br><br>

		<!--
        <h5 @click="${()=>this.trigger_firestore_sse()}">Trigger Firestore SSE</h5>
		<br><br>
		-->

        <h5 @click="${()=>this.reset_datasync()}">Reset DataSync</h5>
        <h5 @click="${()=>this.reset_all()}">Reset It All</h5>
		<br>
        <h5 @click="${()=>this.save_logs()}">Save Logs</h5>
        <h5 @click="${()=>this.get_logs()}">Get Logs</h5>
    </div>

</div>


