
<header class="viewheader">
    <div class="left">
        <img class="logo" src="/assets/media/logo-icon.svg" alt="pwtlogo" /><strong>Pure Water Technologies</strong>
    </div>
    <div class="middle">&nbsp;</div>
    <div class="right">${ localStorage.getItem('id_token') ? Lit_Html`
        <a class="loginout" @click="${()=> this.Logout()}">logout</a>
        ` : Lit_Html`
        <a class="loginout" @click="${()=>window.location.hash = 'auth'}">login</a>
        ` }
    </div>
</header>

<div class="content">
    <div style="text-align: center; padding-top: 30px;">

        ${ localStorage.getItem('id_token') ? Lit_Html`
            <div style="display:flex; justify-content: space-evenly; align-items: center;">
                ${ localStorage.getItem('auth_group') == 'admin' ? Lit_Html`<button class="btn" @click="${()=>window.location.hash = 'machines'}">VIEW MACHINES</button>` : '' }
                ${ localStorage.getItem('auth_group') == 'admin' ? Lit_Html`<button class="btn" @click="${()=>window.location.hash = 'beginnotify'}">SET NOTIFICATIONS</button>` : '' }
            </div>
        ` : ''}

        <br><br><br><br>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        ${ (localStorage.getItem('user_email') === 'accounts@risingtiger.com') ? Lit_Html`
            <br><br>
            <a @click="${()=>this.Reconcile()}">(Reconcile)</a>

            <br><br>
            <a @click="${()=>this.Admin_Firestore_Update_Collection_Docs()}">(Admin Firestore Update Collection Docs)</a>

            <br><br>
            <span>
                <a @click="${()=>this.Data_Usage('accounts_risingtiger_com')}">(Data Usage LLC)</a>
                <a @click="${()=>this.Data_Usage('rfs_risingtiger_com')}">(Data Usage East)</a>
                <a @click="${()=>this.Data_Usage('west_pwt_risingtiger_com')}">(Data Usage West)</a>
            </span>

            <br><br>
            <a @click="${()=>this.Status_Stats()}">(Status Stats)</a>

            <br><br>
            <a @click="${()=>this.Misc_Quicky()}">(Quicky)</a>

            <br><br>
            <a @click="${()=>this.Firestore_Admin_Misc_Get()}">(Firestore Admin Misc Get)</a>


            <br><br>
            <a @click="${()=>this.Misc_Admin_Particle()}">(Misc Particle Admin)</a>

            <br><br>
            <a @click="${()=>this.location_match()}">(Location Match)</a>

            <br><br>
            <a @click="${()=>this.WebPush_Send_Msg()}">(Send Test Notification)</a>

            <br><br>
            <a @click="${()=>this.RunAdminAPI('listen_test_trigger')}">(Listen Test Trigger)</a>


            <br><br>
            PWTDataSync

            <br><br>
            <a @click="${()=>this.RunAdminAPI('pwtdata/getmachines_for_sync')}">(PWTData Get Machines For Sync)</a>

            <br><br>
            <a @click="${()=>this.RunAdminAPI('pwtdata/sync')}">(PWTData Sync)</a>

            <br><br>

            <br><br>
            ${_reconcile_return_str}
        ` : ''}

    </div>

    <p class="appupdatedate">App Update Date -- ${(new Date(APPUPDATE_TS)).toLocaleDateString()} -- ${(new Date(APPUPDATE_TS)).toLocaleTimeString()} </p>

</div>


