
<header class="viewheader">
    <a class="left" @click="${()=>window.location.hash='machines'}">&nbsp;</a>
    <div class="middle">
        <h1>--CG--</h1>
    </div>
    <div class="right">
        <a @click=${()=>this.Reset()}> Reset </a>
        <a @click=${()=>this.SetCount(8)}> 8 </a>
        <a @click=${()=>this.SetCount(12)}> 12 </a>
        <a @click=${()=>this.SetCount(16)}> 16 </a>
        <a @click=${()=>this.SetCount(24)}> 24 </a>
    </div>
</header>

<div class="content">

    <ul class="cards" style="columns:${_s.cardlayout.columnscount};">
        ${_s.cards.map((c,i)=> Lit_Html` 
            <li 
                class="card" 
                data-cardcount="${_s.cardcount}"
                ?data-flipped=${c.flipped} 
                ?data-matched=${c.matched} 
                ?data-isremoved=${c.isremoved} 
                data-cardindex="${i}" 
                @click=${(e)=>this.CardClick(e)}>

                <span class="front">
                    <img src="/assets/media/svg_cards_png/two_x/${c.family}_${c.val}.png" width="100%" />
                </span>

                <span class="back">
                    <img src="/assets/media/svg_cards_png/two_x/back-maroon.png" width="100%" />
                </span>
            </li>
        `)}
    </ul>

</div>



