

v-mcards {

    & header.viewheader .right {
        width: 60%;
    }

    & ul.cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style: none;
        padding: 0 20px;
        margin: 0;

        & li {
            box-sizing: border-box; 
            padding: 10px 10px;
            margin: 0;

            & > span {
                width: 100%;
                box-sizing: border-box;
                color:white;
            }
            & > span.front {
                display: none;
            }
            & > span.back {
                display: block;
            }
        }

        & li[data-flipped] { 
            & > span.front {
                display: block;
            }
            & > span.back {
                display: none;
            }
        }

        & li[data-isremoved] {
            & > span.front {
                opacity: 0;
            }
            & > span.back {
                display: none;
            }
        }

        & li[data-cardcount="8"] {
            width: 25%;
        }
        & li[data-cardcount="12"] {
            width: 25%;
        }
        & li[data-cardcount="16"] {
            width: 25%;
        }
        & li[data-cardcount="24"] {
            width: 25%;
        }
    }

}

