

<header class="viewheader">
  <a class="left" @click="${()=>window.location.hash='index'}"><span>‸</span><span>home</span></a>
  <div class="middle"><h1>Machines</h1></div>
  <div class="right">
    &nbsp;
  </div>
</header>


<div class="content">

  <form class="filter">
    <div class="filtertype">
      <input name="storename" @keyup="${(e)=>this.FilterKeyUp(e)}" @focus="${(e)=>this.FilterFocus(e)}" type="text" value="${_s.filterby.get('storename')}" placeholder="Store Name"></input>
      <i class="icon-search"></i>
    </div>
    <div class="filtertype">
      <input name="storeid" @keyup="${(e)=>this.FilterKeyUp(e)}" @focus="${(e)=>this.FilterFocus(e)}" type="text" value="${_s.filterby.get('storeid')}" placeholder="Store ID"></input>
      <i class="icon-search"></i>
    </div>
    <div class="filtertype">
      <input name="mchId" @keyup="${(e)=>this.FilterKeyUp(e)}" @focus="${(e)=>this.FilterFocus(e)}" type="text" value="${_s.filterby.get('mchId')}" placeholder="Machine ID"></input>
      <i class="icon-search"></i>
    </div>
    <div class="filtertype">
      <input name="chip" @keyup="${(e)=>this.FilterKeyUp(e)}" @focus="${(e)=>this.FilterFocus(e)}" type="text" value="${_s.filterby.get('chip')}" placeholder="Chip ID"></input>
      <i class="icon-search"></i>
    </div>
    <div class="filtertype">
      <input name="serial" @keyup="${(e)=>this.FilterKeyUp(e)}" @focus="${(e)=>this.FilterFocus(e)}" type="text" value="${_s.filterby.get('serial')}" placeholder="Serial Number"></input>
      <i class="icon-search"></i>
    </div>
  </form>

  <ul class="items">

    ${_machines.map(m => Lit_Html`
    <li onclick="window.location.hash='machine/${m.id}'">
	    <div class="thumbnail"><img src="/assets/media/bubble_${m.stateToShowColor}.svg"></div>

	    <div class="title">
        <h5>${m.store.name}</h5>
        <p>${m.msg}</p>
      </div>

	    <div class="aux1">
        <h6>${ m.mchId } / ${m.store.id} / ${m.chip} / ${m.particle.account === 'accounts_risingtiger_com' ? 'llc' : (m.particle.account === 'rfs_risingtiger_com' ? 'east' : 'west') }</h6>
      <p>machine / store / chip / acc.</p>
	    </div>

	    <div class="aux2">
        <h6>${m.meters[0]} / ${(m.meters[1] + m.meters[3])} / ${(m.meters[2] + m.meters[4])}</h6>
        <p>store / ro / min gals</p>
	    </div>

	    <div class="aux3">
        <h6>${(m.particle.product === 11723 || m.particle.product === 20405 || m.particle.product === 20568) ? 'Boron' : 'BSeries'} / ${m.particle.serial.substring(m.particle.serial.length-4)} / ${m.particle.codeversion || '--'}</h6>
        <p>type / serial / version</p>
	    </div>

	    <div class="aux4">
        <h6>${m.cell[0]} & ${m.cell[1]} / ${m.d}</h6>
        <p>cellular / last call</p>
	    </div>


	    <div class="action">
        <i class="icon-arrowright2"></i> 
	    </div>
    </li>
    `)}

  </ul>

</div>

